<div id="main">
  <div id="shopDetail">
    <div id="shopInner">
      <% if request.from_smartphone? %>
        <%= render :partial => "shopInfoMobile" %>
      <% else %>
        <%= render :partial => "shopInfo" %>
      <% end %>
    </div>
  </div>
</div>

<script>
handler = Gmaps.build('Google');
handler.buildMap({ provider: {}, internal: {id: 'access_canvas'}}, function(){
  markers = handler.addMarkers(<%=raw @hash.to_json %>);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
  handler.getMap().setZoom(17);
});
</script>
