@charset "utf-8";
/*------------------------------------------------------------
	jquery.tabjs
------------------------------------------------------------*/
#slider {
	margin: 0 auto;
	width: 100%;
	background: #fff;
	position: relative;
}

#slider .slideFrame {
	width: 100%;
	height: 250px;
	overflow: hidden;
	position: relative;
}

#slider .slideFrame .slideSet {
	position: relative;
}

#slider .slideFrame .slide {
	float: left;
}

#slider .slideFrame .slide img {
	vertical-align: top;
}
