<div id="info">
  <div class="inner">
    <img src="assets/info_image" alt="" width="450" height="300" />
    <p>プレゼント選びで<br>お困りの方へ</p>
  </div>
</div>

<div id="form">
  <div class="formInner">
    <%= render :partial => "topForm" %>
  </div>
</div>
