<div id="info">
  <img src="assets/info_image" alt="" />
  <!-- <p>ステキな贈り物で<br>気持ちを届けよう</p> -->
</div>

<div id="form">
  <% if request.from_smartphone? %>
    <div id="formInnerMobile">
      <%= render :partial => "topFormMobile" %>
    </div>
  <% else %>
    <div id="formInner">
      <%= render :partial => "topForm" %>
    </div>
  <% end %>
</div>
