<nav>
  <img src="assets/info_image" alt="" />
</nav>

<div id="form">
  <% if request.from_smartphone? %>
    <div id="formInnerMobile">
      <%= render :partial => "topFormMobile" %>
    </div>
  <% else %>
    <div id="formInner">
      <%= render :partial => "topForm" %>
    </div>
  <% end %>
</div>
