<nav>
  <% if request.from_smartphone? %>
    <img src="assets/info_image_mobile" alt="買いたいものから，いろんな場所から，現在地から，ステキなお店がきっと見つかる" />
    <%= javascript_include_tag 'autoHeight' %>
  <% else %>
    <img src="assets/info_image" alt="買いたいものから，いろんな場所から，現在地から，ステキなお店がきっと見つかる" />
  <% end %>
</nav>

<div id="form">
  <% if request.from_smartphone? %>
    <div id="formInnerMobile">
      <%= render :partial => "topFormMobile" %>
    </div>
  <% else %>
    <div id="formInner">
      <%= render :partial => "topForm" %>
    </div>
  <% end %>
</div>
