<div id="info">
  <div class="inner">
    <img src="assets/info_image" alt="" width="450" height="300" />
    <!-- <p>プレゼント選びで<br>お困りの方へ</p> -->
  </div>
</div>

<div id="form">
  <% if request.from_smartphone? %>
    <div id="formInnerMobile">
      <%= render :partial => "topFormMobile" %>
    </div>
  <% else %>
    <div id="formInner">
      <%= render :partial => "topForm" %>
    </div>
  <% end %>
</div>
