#main {
  /*width: 1280px;*/
  width: 100%;
  /*height: auto;*/

  margin: 4px auto 0;

  background-color: #FFFAEC;
  overflow: hidden;
}

#searchConditions {
  /*width: 980px;*/
  width: 75%;
  margin: auto;
  padding: 20px 0;
}

#searchConditions h4 {
  border-bottom: 1px solid #666666;
  border-left: 7px solid #666666;
}

#searchConditions dt {
  width: 144px;
  margin-left: 30px;

  float: left;
}

#searchConditions dd {
  padding: 0;
}

#map {
	/*width: 980px;*/
  width: 75%;
	height: auto;

  margin: auto;

	overflow: hidden;
}

#map_canvas {
  /*width: 980px;*/
  width: 100%;
	height: 400px;
	margin: 20px auto;
}

#shopList {
  /*width: 980px;*/
  width: 75%;
  height: auto;

  margin: auto;
  margin-bottom: 50px;
}

#shopListInner {
  /*width: 980px;*/
  width: 100%;

  background-color: white;
  border: solid 1px #E0E0E0;
  border-radius: 6px;
  box-shadow: 2px 2px 2px 0 rgba(150,150,150,0.4);
  overflow: hidden;
}

#shopList li {
  /*width: 980px;*/
  width: 100%;
  height: 100%;
  /*float: left;*/
  list-style: none;
  /*margin: 3%;*/
  /*overflow: hidden;*/
}

#shopList li:not(:last-child) {
  border-bottom: solid 1px #666666;
}

.shopLink {
  background: green;
}


#shop {
  width: 100%;
  height: 250px;

  overflow: hidden;
  position: relative;
}

#shop:hover {
  background: linear-gradient(white, #e0e0e0);
}

#shop img {
  width: 400px;
  height: 200px;

  padding: 25px;

  float: left;
}

#shop h2 {
  color: #f99868;
}

#shopName {
  width: calc(100% - 450px);
  height: calc(100% - 80px);

  padding-top: 80px;

  float: right;
  overflow: hidden;
}
