#main {
  /*width: 1280px;*/
  width: 100%;
  /*height: auto;*/

  margin: 4px auto 0;

  background-color: #FFFAEC;
  overflow: hidden;
}

#searchConditions dt {
  width: 96%;
  margin: auto;

  float: left;
}

#searchConditions dd {
  padding: 0;
}

#map {
	/*width: 980px;*/
  width: 96%;
	height: auto;

  margin: auto;

	overflow: hidden;
}

#map_canvas {
  /*width: 980px;*/
  width: 100%;
	height: 400px;
	margin: 0 auto 20px;
}

#shopList {
  /*width: 980px;*/
  width: 96%;
  height: auto;

  margin: auto;
  margin-bottom: 50px;
}

#shopListInner {
  /*width: 980px;*/
  width: 100%;

  background-color: white;
  border: solid 1px #E0E0E0;
  border-radius: 6px;
  box-shadow: 2px 2px 2px 0 rgba(150,150,150,0.4);
  overflow: hidden;
}

#shopList li {
  /*width: 980px;*/
  width: 100%;
  height: 100%;
  /*float: left;*/
  list-style: none;
  /*margin: 3%;*/
  /*overflow: hidden;*/
}

#shopList li:not(:last-child) {
  border-bottom: solid 1px #666666;
}

.shopLink {
  background: green;
}


#shop {
  width: 100%;
  height: 280px;

  overflow: hidden;
  position: relative;
}

#shop:hover {
  background: linear-gradient(white, #e0e0e0);
}

#shop img {
  width: 400px;
  height: 200px;

  padding: 40px;

  float: left;
}

#shop h2 {
  color: #f99868;
}

#shopName {
  width: calc(100% - 450px - 50px);
  height: calc(100% - 40px);

  padding-top: 40px;

  /*float: right;*/
  overflow: hidden;
}

.characteristic {
  padding: 5px;
  /*background: #FFF9E6;*/
  background: #F9EC6F;
  /*background: rgba(249, 236, 111, 0.5);*/
  overflow: hidden;
}

.inner {
  width: 90%;
  margin: 30px auto;
  overflow: hidden;
}

#research {
  width: 20%;

  background-color: white;
  float: left;  /* left,かけない,rigthどれでもいいかも*/
  overflow: hidden; /* floatがかかってるとこはあったほうがいいかもIEのせい */
}

#research .textField {
  width: 90%;
}

#searchResult {
  width: 80%;

  float: right;  /* left,かけない,rigthどれでもいいかも*/
  overflow: hidden; /* floatがかかってるとこはあったほうがいいかもIEのせい */
}
