@charset "utf-8";
/*------------------------------------------------------------
	jquery.tabjs
------------------------------------------------------------*/
#slider {
	margin: 0 auto;
	width: 500px;
	height: 200px;
	background: #fff;
	float: right;
	position: relative;
}

#slider .slideFrame {
	width: 500px;
	height: 200px;
	overflow: hidden;
	position: relative;
}

#slider .slideFrame .slideSet {
	position: relative;
}

#slider .slideFrame .slide {
	float: left;
}

#slider .slideFrame .slide img {
	vertical-align: top;
}

#thumbnail {
	/*width: 80%;*/
	margin: auto;
	overflow: hidden;
}

.thumbnailSet {
	margin-top: 20px;
}

.thumbnailSet li {
	float: left;
	list-style: none;
}

.thumbnailSet li a {
	margin: 20px;
}
